@model IEnumerable<MiParcialito.Models.cursos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Cursos Disponibles Actualmente</h2>
    <p>
        @Html.ActionLink("Crear Nuevo", "Create", null, new { @class = "btn btn-primary" })
    </p>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre del Curso</th>
                    <th>Docente</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.nombreCurso)</td>
                        <td>@Html.DisplayFor(modelItem => item.docentes.nombre)</td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.cursoID }, new { @class = "btn btn-info btn-sm" })
                            @Html.ActionLink("Detalles", "Details", new { id = item.cursoID }, new { @class = "btn btn-primary btn-sm" })
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.cursoID }, new { @class = "btn btn-danger btn-sm" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
